In [1]:
import numpy as np
import pandas as pd

In [2]:
gt_df = pd.read_csv('/Users/jxhn/Desktop/IRONHACK/Week_5/Mid_bootcamp_project/Data/Raw/globalterrorismr.csv', encoding = 'ISO-8859-1')

/var/folders/h1/sm0yz6nx7m9cgsn8627qx6c00000gn/T/ipykernel_36057/2132931928.py:1: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  gt_df = pd.read_csv('/Users/jxhn/Desktop/IRONHACK/Week_5/Mid_bootcamp_project/Data/Raw/globalterrorismr.csv', encoding = 'ISO-8859-1')

In [3]:
gt_df #this is my dataframe at its massive

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

In [4]:
gt_df.dtypes

eventid        int64
iyear          int64
imonth         int64
iday           int64
approxdate    object
               ...
INT_LOG        int64
INT_IDEO       int64
INT_MISC       int64
INT_ANY        int64
related       object
Length: 135, dtype: object

In [5]:
gt_df.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [6]:
gt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [7]:
print('Will be creating seperate dataframes for each category of questions')

Will be creating seperate dataframes for each category of questions

In [8]:
q1_df = gt_df[['iyear','imonth','iday','country_txt','region_txt','provstate','city','location','propvalue','summary','success','suicide','attacktype1_txt','targtype1_txt','targsubtype1_txt','corp1','target1','gname','motive','weapsubtype1_txt','weapdetail','propcomment','addnotes']]

In [9]:
q1_df.head()

,iyear,imonth,iday,country_txt,region_txt,provstate,city,location,propvalue,summary,...,targtype1_txt,targsubtype1_txt,corp1,target1,gname,motive,weapsubtype1_txt,weapdetail,propcomment,addnotes
0,1970,7,2,Dominican Republic,Central America & Caribbean,NaN,Santo Domingo,NaN,NaN,NaN,...,Private Citizens & Property,Named Civilian,NaN,Julio Guzman,MANO-D,NaN,NaN,NaN,NaN,NaN
1,1970,0,0,Mexico,North America,Federal,Mexico city,NaN,NaN,NaN,...,Government (Diplomatic),"Diplomatic Personnel (outside of embassy, cons...",Belgian Ambassador Daughter,"Nadine Chaval, daughter",23rd of September Communist League,NaN,NaN,NaN,NaN,NaN
2,1970,1,0,Philippines,Southeast Asia,Tarlac,Unknown,NaN,NaN,NaN,...,Journalists & Media,Radio Journalist/Staff/Facility,Voice of America,Employee,Unknown,NaN,NaN,NaN,NaN,NaN
3,1970,1,0,Greece,Western Europe,Attica,Athens,NaN,NaN,NaN,...,Government (Diplomatic),Embassy/Consulate,NaN,U.S. Embassy,Unknown,NaN,Unknown Explosive Type,Explosive,NaN,NaN
4,1970,1,0,Japan,East Asia,Fukouka,Fukouka,NaN,NaN,NaN,...,Government (Diplomatic),Embassy/Consulate,NaN,U.S. Consulate,Unknown,NaN,NaN,Incendiary,NaN,NaN

In [10]:
sorted_q1_df = q1_df.sort_values(by='propvalue', ascending=False) #want to make a top 5 list of damaged occured

In [11]:
sorted_q1_df.head(5)

,iyear,imonth,iday,country_txt,region_txt,provstate,city,location,propvalue,summary,...,targtype1_txt,targsubtype1_txt,corp1,target1,gname,motive,weapsubtype1_txt,weapdetail,propcomment,addnotes
50996,1992,4,10,United Kingdom,Western Europe,England,London,NaN,2.700000e+09,NaN,...,Private Citizens & Property,Village/City/Town/Suburb,NaN,London Financial District,Irish Republican Army (IRA),NaN,Vehicle,Explosive,"Damages: explosion, destroyed historic buildin...",NaN
62651,1996,6,15,United Kingdom,Western Europe,England,Manchester,Corporation Street outside the Arndale shoppin...,1.079120e+09,6/15/1996: At or around 11:20 am a truck packe...,...,Private Citizens & Property,Marketplace/Plaza/Square,NaN,Arndale Centre and Market Street,Irish Republican Army (IRA),NaN,Vehicle,"3,000 lbs of explosives were packed into a truck",£700 million (value in US Dollars estimated),NaN
59037,1995,4,19,United States,North America,Oklahoma,Oklahoma City,NaN,6.520000e+08,NaN,...,Government (General),Government Building/Facility/Office,NaN,Alfred P. Murrah Federal Building,Anti-Government extremists,NaN,Vehicle,Explosive,Damages: More than 300 buildings destroyed or ...,NaN
16681,1982,7,27,Peru,South America,Ayacucho,Ayacucho,NaN,5.480000e+08,NaN,...,Business,Mining,NaN,Installations of Canaricas Mine,Unknown,NaN,Unknown Explosive Type,Explosive; Heavily armed,"Damages: explosion, destroyed mineral concentr...",NaN
72475,2001,7,24,Sri Lanka,South Asia,Western,Katunayake,The incident occurred at the Bandaranaike Inte...,3.500000e+08,07/24/2001: Fourteen militants of the Liberati...,...,Airports & Aircraft,Airport,Sri Lankan Airlines,5 planes,Liberation Tigers of Tamil Eelam (LTTE),Unknown,Suicide (carried bodily by human being),"The attackers carried mortars, machine guns, i...",5 of the 12 planes in the Sri lankan Airlines ...,NaN

In [12]:
prop_column_values = sorted_q1_df['propvalue']

In [13]:
prop_column_values

50996     2.700000e+09
62651     1.079120e+09
59037     6.520000e+08
16681     5.480000e+08
72475     3.500000e+08
              ...
181683             NaN
181684             NaN
181686             NaN
181689             NaN
181690             NaN
Name: propvalue, Length: 181691, dtype: float64

In [14]:
q1_df_5 = sorted_q1_df.head(5) #first I'll get the values I need and then clean the column

In [15]:
q1_df_5

,iyear,imonth,iday,country_txt,region_txt,provstate,city,location,propvalue,summary,...,targtype1_txt,targsubtype1_txt,corp1,target1,gname,motive,weapsubtype1_txt,weapdetail,propcomment,addnotes
50996,1992,4,10,United Kingdom,Western Europe,England,London,NaN,2.700000e+09,NaN,...,Private Citizens & Property,Village/City/Town/Suburb,NaN,London Financial District,Irish Republican Army (IRA),NaN,Vehicle,Explosive,"Damages: explosion, destroyed historic buildin...",NaN
62651,1996,6,15,United Kingdom,Western Europe,England,Manchester,Corporation Street outside the Arndale shoppin...,1.079120e+09,6/15/1996: At or around 11:20 am a truck packe...,...,Private Citizens & Property,Marketplace/Plaza/Square,NaN,Arndale Centre and Market Street,Irish Republican Army (IRA),NaN,Vehicle,"3,000 lbs of explosives were packed into a truck",£700 million (value in US Dollars estimated),NaN
59037,1995,4,19,United States,North America,Oklahoma,Oklahoma City,NaN,6.520000e+08,NaN,...,Government (General),Government Building/Facility/Office,NaN,Alfred P. Murrah Federal Building,Anti-Government extremists,NaN,Vehicle,Explosive,Damages: More than 300 buildings destroyed or ...,NaN
16681,1982,7,27,Peru,South America,Ayacucho,Ayacucho,NaN,5.480000e+08,NaN,...,Business,Mining,NaN,Installations of Canaricas Mine,Unknown,NaN,Unknown Explosive Type,Explosive; Heavily armed,"Damages: explosion, destroyed mineral concentr...",NaN
72475,2001,7,24,Sri Lanka,South Asia,Western,Katunayake,The incident occurred at the Bandaranaike Inte...,3.500000e+08,07/24/2001: Fourteen militants of the Liberati...,...,Airports & Aircraft,Airport,Sri Lankan Airlines,5 planes,Liberation Tigers of Tamil Eelam (LTTE),Unknown,Suicide (carried bodily by human being),"The attackers carried mortars, machine guns, i...",5 of the 12 planes in the Sri lankan Airlines ...,NaN

In [16]:
q1_df_5.loc[:, 'propvalue'] = q1_df_5['propvalue'].astype(str) #the numbers are mills and bills so i want to write mill or bill

In [17]:
q1_df_5 = q1_df_5.reset_index(drop=True) #the new dataframe doesn't need the old index

In [18]:
q1_df_5

,iyear,imonth,iday,country_txt,region_txt,provstate,city,location,propvalue,summary,...,targtype1_txt,targsubtype1_txt,corp1,target1,gname,motive,weapsubtype1_txt,weapdetail,propcomment,addnotes
0,1992,4,10,United Kingdom,Western Europe,England,London,NaN,2700000000.0,NaN,...,Private Citizens & Property,Village/City/Town/Suburb,NaN,London Financial District,Irish Republican Army (IRA),NaN,Vehicle,Explosive,"Damages: explosion, destroyed historic buildin...",NaN
1,1996,6,15,United Kingdom,Western Europe,England,Manchester,Corporation Street outside the Arndale shoppin...,1079120000.0,6/15/1996: At or around 11:20 am a truck packe...,...,Private Citizens & Property,Marketplace/Plaza/Square,NaN,Arndale Centre and Market Street,Irish Republican Army (IRA),NaN,Vehicle,"3,000 lbs of explosives were packed into a truck",£700 million (value in US Dollars estimated),NaN
2,1995,4,19,United States,North America,Oklahoma,Oklahoma City,NaN,652000000.0,NaN,...,Government (General),Government Building/Facility/Office,NaN,Alfred P. Murrah Federal Building,Anti-Government extremists,NaN,Vehicle,Explosive,Damages: More than 300 buildings destroyed or ...,NaN
3,1982,7,27,Peru,South America,Ayacucho,Ayacucho,NaN,548000000.0,NaN,...,Business,Mining,NaN,Installations of Canaricas Mine,Unknown,NaN,Unknown Explosive Type,Explosive; Heavily armed,"Damages: explosion, destroyed mineral concentr...",NaN
4,2001,7,24,Sri Lanka,South Asia,Western,Katunayake,The incident occurred at the Bandaranaike Inte...,350000000.0,07/24/2001: Fourteen militants of the Liberati...,...,Airports & Aircraft,Airport,Sri Lankan Airlines,5 planes,Liberation Tigers of Tamil Eelam (LTTE),Unknown,Suicide (carried bodily by human being),"The attackers carried mortars, machine guns, i...",5 of the 12 planes in the Sri lankan Airlines ...,NaN

In [19]:
q1_df_5.loc[0, 'propvalue'] = '2.7 billion'
q1_df_5.loc[1, 'propvalue'] = '700 million'
q1_df_5.loc[2, 'propvalue'] = '652 million'
q1_df_5.loc[3, 'propvalue'] = '548 million'
q1_df_5.loc[4, 'propvalue'] = '350 million'

In [20]:
q1_df_5

,iyear,imonth,iday,country_txt,region_txt,provstate,city,location,propvalue,summary,...,targtype1_txt,targsubtype1_txt,corp1,target1,gname,motive,weapsubtype1_txt,weapdetail,propcomment,addnotes
0,1992,4,10,United Kingdom,Western Europe,England,London,NaN,2.7 billion,NaN,...,Private Citizens & Property,Village/City/Town/Suburb,NaN,London Financial District,Irish Republican Army (IRA),NaN,Vehicle,Explosive,"Damages: explosion, destroyed historic buildin...",NaN
1,1996,6,15,United Kingdom,Western Europe,England,Manchester,Corporation Street outside the Arndale shoppin...,700 million,6/15/1996: At or around 11:20 am a truck packe...,...,Private Citizens & Property,Marketplace/Plaza/Square,NaN,Arndale Centre and Market Street,Irish Republican Army (IRA),NaN,Vehicle,"3,000 lbs of explosives were packed into a truck",£700 million (value in US Dollars estimated),NaN
2,1995,4,19,United States,North America,Oklahoma,Oklahoma City,NaN,652 million,NaN,...,Government (General),Government Building/Facility/Office,NaN,Alfred P. Murrah Federal Building,Anti-Government extremists,NaN,Vehicle,Explosive,Damages: More than 300 buildings destroyed or ...,NaN
3,1982,7,27,Peru,South America,Ayacucho,Ayacucho,NaN,548 million,NaN,...,Business,Mining,NaN,Installations of Canaricas Mine,Unknown,NaN,Unknown Explosive Type,Explosive; Heavily armed,"Damages: explosion, destroyed mineral concentr...",NaN
4,2001,7,24,Sri Lanka,South Asia,Western,Katunayake,The incident occurred at the Bandaranaike Inte...,350 million,07/24/2001: Fourteen militants of the Liberati...,...,Airports & Aircraft,Airport,Sri Lankan Airlines,5 planes,Liberation Tigers of Tamil Eelam (LTTE),Unknown,Suicide (carried bodily by human being),"The attackers carried mortars, machine guns, i...",5 of the 12 planes in the Sri lankan Airlines ...,NaN

In [21]:
q1_df_5 = q1_df_5.drop('addnotes', axis=1) #columns has all nans

In [22]:
q1_df_5 = q1_df_5.drop('motive', axis=1) #columns has all nans

In [23]:
q1_df_5 = q1_df_5.fillna('unknown') #fill the rest of the na's

In [24]:
q1_df_5

,iyear,imonth,iday,country_txt,region_txt,provstate,city,location,propvalue,summary,...,suicide,attacktype1_txt,targtype1_txt,targsubtype1_txt,corp1,target1,gname,weapsubtype1_txt,weapdetail,propcomment
0,1992,4,10,United Kingdom,Western Europe,England,London,unknown,2.7 billion,unknown,...,0,Bombing/Explosion,Private Citizens & Property,Village/City/Town/Suburb,unknown,London Financial District,Irish Republican Army (IRA),Vehicle,Explosive,"Damages: explosion, destroyed historic buildin..."
1,1996,6,15,United Kingdom,Western Europe,England,Manchester,Corporation Street outside the Arndale shoppin...,700 million,6/15/1996: At or around 11:20 am a truck packe...,...,0,Bombing/Explosion,Private Citizens & Property,Marketplace/Plaza/Square,unknown,Arndale Centre and Market Street,Irish Republican Army (IRA),Vehicle,"3,000 lbs of explosives were packed into a truck",£700 million (value in US Dollars estimated)
2,1995,4,19,United States,North America,Oklahoma,Oklahoma City,unknown,652 million,unknown,...,0,Bombing/Explosion,Government (General),Government Building/Facility/Office,unknown,Alfred P. Murrah Federal Building,Anti-Government extremists,Vehicle,Explosive,Damages: More than 300 buildings destroyed or ...
3,1982,7,27,Peru,South America,Ayacucho,Ayacucho,unknown,548 million,unknown,...,0,Bombing/Explosion,Business,Mining,unknown,Installations of Canaricas Mine,Unknown,Unknown Explosive Type,Explosive; Heavily armed,"Damages: explosion, destroyed mineral concentr..."
4,2001,7,24,Sri Lanka,South Asia,Western,Katunayake,The incident occurred at the Bandaranaike Inte...,350 million,07/24/2001: Fourteen militants of the Liberati...,...,1,Bombing/Explosion,Airports & Aircraft,Airport,Sri Lankan Airlines,5 planes,Liberation Tigers of Tamil Eelam (LTTE),Suicide (carried bodily by human being),"The attackers carried mortars, machine guns, i...",5 of the 12 planes in the Sri lankan Airlines ...

In [25]:
q1_df_5.to_excel('/Users/jxhn/Desktop/IRONHACK/Week_5/Mid_bootcamp_project/Data/Cleaned/q1_df_5.xlsx', index=False)

In [26]:
q1_df_5['sizing'] = [27, 10, 6.5, 5.4, 3.5] #saved file but forgot to add 'sizing' column to help with plots/graphs

In [27]:
q1_df_5

,iyear,imonth,iday,country_txt,region_txt,provstate,city,location,propvalue,summary,...,attacktype1_txt,targtype1_txt,targsubtype1_txt,corp1,target1,gname,weapsubtype1_txt,weapdetail,propcomment,sizing
0,1992,4,10,United Kingdom,Western Europe,England,London,unknown,2.7 billion,unknown,...,Bombing/Explosion,Private Citizens & Property,Village/City/Town/Suburb,unknown,London Financial District,Irish Republican Army (IRA),Vehicle,Explosive,"Damages: explosion, destroyed historic buildin...",27.0
1,1996,6,15,United Kingdom,Western Europe,England,Manchester,Corporation Street outside the Arndale shoppin...,700 million,6/15/1996: At or around 11:20 am a truck packe...,...,Bombing/Explosion,Private Citizens & Property,Marketplace/Plaza/Square,unknown,Arndale Centre and Market Street,Irish Republican Army (IRA),Vehicle,"3,000 lbs of explosives were packed into a truck",£700 million (value in US Dollars estimated),10.0
2,1995,4,19,United States,North America,Oklahoma,Oklahoma City,unknown,652 million,unknown,...,Bombing/Explosion,Government (General),Government Building/Facility/Office,unknown,Alfred P. Murrah Federal Building,Anti-Government extremists,Vehicle,Explosive,Damages: More than 300 buildings destroyed or ...,6.5
3,1982,7,27,Peru,South America,Ayacucho,Ayacucho,unknown,548 million,unknown,...,Bombing/Explosion,Business,Mining,unknown,Installations of Canaricas Mine,Unknown,Unknown Explosive Type,Explosive; Heavily armed,"Damages: explosion, destroyed mineral concentr...",5.4
4,2001,7,24,Sri Lanka,South Asia,Western,Katunayake,The incident occurred at the Bandaranaike Inte...,350 million,07/24/2001: Fourteen militants of the Liberati...,...,Bombing/Explosion,Airports & Aircraft,Airport,Sri Lankan Airlines,5 planes,Liberation Tigers of Tamil Eelam (LTTE),Suicide (carried bodily by human being),"The attackers carried mortars, machine guns, i...",5 of the 12 planes in the Sri lankan Airlines ...,3.5

In [28]:
q1_df_5.to_excel('/Users/jxhn/Desktop/IRONHACK/Week_5/Mid_bootcamp_project/Data/Cleaned/q1_df_5.xlsx', index=False)

In [29]:
#final saved version of file

In [30]:
q1_df_5[['summary']]

                                             summary
0                                            unknown
1  6/15/1996: At or around 11:20 am a truck packe...
2                                            unknown
3                                            unknown
4  07/24/2001: Fourteen militants of the Liberati...